.bg-heading-custom
{
    background-color: rgb(101, 157, 207);
}
.bg-white-smoke
{
    background-color: whitesmoke;
}
.fg-white
{
    color: white;
}
.fg-red
{
    color: red;    
}
.fg-green
{
    color: green;
}
.fg-black
{
    color: black;
}